<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" data-category="company">
        <section class="section">

            <h2 class="section_title">어사 통계</h2>

            <div class="form form--xxl">
                <div class="w-chart-form">

                    <div class="w-chart-top">
                        <div class="w-chart-count">
                            <!-- <div class="w-label-wrap">
                                <span class="w-label">업체개수</span>
                                <span th:text="|${company} 개|"></span>
                            </div>
                            <div class="w-label-wrap">
                                <span class="w-label">의뢰건수</span>
                                <span class="requestCount"></span>
                            </div> -->
                            <div class="w-label-wrap">
                                <span class="w-label">상담건수: </span>
                                <span class="requestConsultCount"></span>
                                <span class="w-label">의뢰건수: </span>
                                <span class="requestCount"></span>
                                <span class="w-label">의뢰 성공률: </span>
                                <span class="requestSuccessRate"></span>
                                <span class="w-label">의뢰 성사율: </span>
                                <span class="requestAcceptRate"></span>
                            </div>
                        </div>
                    </div>

                    <div class="chart-age-time">
                        <div class="chart-age">
                            <div class="age-wrap">
                                <span class="w-label">연령별 통계</span>
                                <!-- <span class="w-label">성별: </label>
                                <select id="ageChartGender" name="ageChartGender">
                                    <option value="1">전체</option>
                                    <option value="2">남</option>
                                    <option value="3">여</option>
                                </select> -->
                            </div>
                            <div class="chart-wrap-sm">
                                <canvas id="ageChart"></canvas>
                            </div>
                        </div>

                        <div class="chart-time">
                            <div class="chart-label-wrap">
                                <span class="w-label">시간별 통계</span>
                            </div>
                            <div class="chart-wrap-sm">
                                <canvas id="timeChart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="chart-area">
                        <div class="chart-label-wrap">
                            <span class="w-label">지역별 통계</span>
                        </div>
                        <div class="chart-wrap-sm">
                            <canvas id="areaChart"></canvas>
                        </div>
                    </div>

                    <div class="chart-category">
                        <div class="chart-label-wrap">
                            <span class="w-label">분야별 통계</span>
                        </div>
                        <div class="chart-wrap-sm">
                            <canvas id="categoryChart"></canvas>
                        </div>
                    </div>

                    <div class="chart-month">
                        <div class="chart-label-wrap">
                            <span class="w-label">월별 통계</span>
                            <!-- <span class="w-label" style="margin-left: 80%">연도: </label>
                            <select id="monthChartYear" name="monthChartYear"></select> -->
                        </div>
                        <div class="chart-wrap-sm">
                            <canvas id="monthChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/assets/js/admin/chart.js}"></script>
    <script th:src="@{/assets/js/admin/library.js}"></script>
    <script>
        window.addEventListener('load', function () {
            highlightMenu('chart');
            createChart('whole');

            const viewAVGBtn = document.querySelector("#viewAVG");
            viewAVGBtn.addEventListener("click", async() => {
                createChartAllData();
            });

            const ageChartGenderSelect = document.querySelector("#ageChartGender");
            ageChartGenderSelect.addEventListener("change", (e) => {
                reloadAgeChart(e.target.value);
            });            

            const monthChartYearSelect = document.querySelector("#monthChartYear");
            monthChartYearSelect.addEventListener("change", (e) => {
                changeYearMonthChart(e.target.value);
            });
        });
    </script>
</th:block>

</html>
