<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">
	<main id="main">
		<section class="section section-signin">
			<div class="signin">
				<h2 class="signin__title">관리자 로그인</h2>
				<form class="form" th:action="@{/login/proc}" method="post">
					<fieldset class="fieldset">
						<input class="input" name="username" type="text" placeholder="아이디">
						<input class="input" name="password" type="password" placeholder="비밀번호">
					</fieldset>
					<div class="form__action">
						<button type="submit" class="btn-prime btn-full">로그인</button>
					</div>
				</form>
			</div>
		</section>
	</main>
</th:block>
<th:block layout:fragment="script">
	<script>
		window.addEventListener('load', function () {
			const error = [[${error}]];
			if (error) alert('아이디와 비밀번호를 다시 확인해 주세요.');
		});
	</script>
</th:block>
</html>
