<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" class="main-list" data-category="banner">
        <section class="section section-users">
            <h2 class="section_title">배너 관리</h2>
            <div class="table">
                <div class="table__top">
                    <div class="top-wrap">
                        <div class="header-wrap">
                            <table>
                                <tbody th:if="${#lists.size(items) > 0}">
                                <tr> 
                                    <td class="imgPreviewDesktop" th:if="${items[0] ne null}">
                                        <p>배너1</p>
                                        <img class="imgPreviewBodyDesktop" th:src="${items[0].bannerFileLink}"/>
                                    </td>
                                    <td class="imgPreviewDesktop" th:unless="${items[0] ne null}">
                                        <p>배너1</p>
                                        <img class="imgPreviewBodyDesktop" th:src="${items[0].bannerFileLink}"/>
                                    </td>
                                    <td class="imgPreviewDesktop" th:if="${items[1] ne null}">
                                        <p>배너2</p>
                                        <img class="imgPreviewBodyDesktop" th:src="${items[1].bannerFileLink}"/>
                                    </td>
                                    <td class="imgPreviewDesktop" th:unless="${items[1] ne null}">
                                        <p>배너2</p>
                                        <img class="imgPreviewBodyDesktop" th:src="${items[1].bannerFileLink}"/>
                                    </td>
                                    <td class="imgPreviewDesktop" th:if="${items[2] ne null}">
                                        <p>배너3</p>
                                        <img class="imgPreviewBodyDesktop" th:src="${items[2].bannerFileLink}"/>
                                    </td>
                                    <td class="imgPreviewDesktop" th:unless="${items[2] ne null}">
                                        <p>배너3</p>
                                        <img class="imgPreviewBodyDesktop" th:src="${items[2].bannerFileLink}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table>
                                <tbody th:if="${#lists.size(items) > 0}">
                                <tr>
                                    <td th:if="${items[0] ne null}"> <!-- th:if="${item ne null}"> -->
                                        <div>
                                            <label for="banner">배너1 - 데스크탑</label>
                                            <input type="file" class="fileInputDesktop" id="banner" name="banner1" accept="image/jpeg, image/png" th:src="${items[0].bannerFileLink}"/>
                                            <span class="fileRemoveBtnDesktop" id="bannerRemoveMark">x</span>
                                            <br/>
                                            <label for="bannerurl">URL</label>
                                            <input type="text" class="bannerUrlDesktop" id="bannerurl" name="banner1url" th:value="${items[0].bannerFileName}" />
                                        </div>
                                    </td>
                                    <td th:unless="${items[0] ne null}"> <!-- th:if="${item ne null}"> -->
                                        <div>
                                            <label for="banner">배너 - 데스크탑</label>
                                            <input type="file" class="fileInputDesktop" accept="image/jpeg, image/png" th:src="${items[0].bannerFileLink}"/>
                                            <span class="fileRemoveBtnDesktop" id="bannerRemoveMark">x</span>
                                            <br/>
                                            <label for="bannerurl">URL</label>
                                            <input type="text" class="bannerUrlDesktop" th:value="${items[0].bannerFileName}" />
                                        </div>
                                    </td>
                                    <td th:if="${items[1] ne null}"> <!-- th:if="${item ne null}"> -->
                                        <div>
                                            <label for="banner">배너 - 데스크탑</label>
                                            <input type="file" class="fileInputDesktop" accept="image/jpeg, image/png" th:src="${items[1].bannerFileLink}"/>
                                            <span class="fileRemoveBtnDesktop" id="bannerRemoveMark">x</span>
                                            <br/>
                                            <label for="bannerurl">URL</label>
                                            <input type="text" class="bannerUrlDesktop" id="bannerurl" name="banner1url" th:value="${items[1].bannerFileName}" />
                                        </div>
                                    </td>
                                    <td th:unless="${items[1] ne null}"> <!-- th:if="${item ne null}"> -->
                                        <div>
                                            <label for="banner">배너 - 데스크탑</label>
                                            <input type="file" class="fileInputDesktop" accept="image/jpeg, image/png" th:src="${items[1].bannerFileLink}"/>
                                            <span class="fileRemoveBtnDesktop" id="bannerRemoveMark">x</span>
                                            <br/>
                                            <label for="bannerurl">URL</label>
                                            <input type="text" class="bannerUrlDesktop" th:value="${items[1].bannerFileName}" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td th:if="${items[2] ne null}"> <!-- th:if="${item ne null}"> -->
                                        <div>
                                            <label for="banner">배너 - 데스크탑</label>
                                            <input type="file" class="fileInputDesktop" accept="image/jpeg, image/png" th:src="${items[2].bannerFileLink}"/>
                                            <span class="fileRemoveBtnDesktop" id="bannerRemoveMark">x</span>
                                            <br/>
                                            <label for="bannerurl">URL</label>
                                            <input type="text" class="bannerUrlDesktop" th:value="${items[2].bannerFileName}" />
                                        </div>
                                    </td>
                                    <td th:unless="${items[2] ne null}"> <!-- th:if="${item ne null}"> -->
                                        <div>
                                            <label for="banner">배너 - 데스크탑</label>
                                            <input type="file" class="fileInputDesktop" accept="image/jpeg, image/png" th:src="${items[2].bannerFileLink}"/>
                                            <span class="fileRemoveBtnDesktop" id="bannerRemoveMark">x</span>
                                            <br/>
                                            <label for="bannerurl">URL</label>
                                            <input type="text" class="bannerUrlDesktop" th:value="${items[2].bannerFileName}" />
                                        </div>
                                    </td>                                  
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="table__action">
                    <button type="button" class="btn-normal banner-update-btn">등록하기</button>
                </div>
            </div>
        </section>
    </main>

</th:block>

<th:block layout:fragment="script">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            highlightMenu();
            // pageOn();
            // listCheck();
            bannerFileHandler();
            inputFileRemove();
            bannerUpdate();
        });
    </script>
</th:block>

</html>