<!DOCTYPE html>-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">
    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>
    <main id="main" class="main-list" data-category="detectivebanner">
        <section class="section section-users">
            <h2 class="section_title">탐정찾기 페이지 배너 관리</h2>
            <div class="table"> 
               <div class="table__top">
                   <div class="top-wrap">
                       <div class="header-wrap">
                           <table>
                              <tbody class="bannerTableBody">
                                    <tr class="bannerRows" th:each="item, index : ${items}">
                                        <td class="bannerPreviewCell" th:id="${item.idx}">
                                            <img class="bannerPreview" th:src="${item.bannerFileLink}"/>
                                        </td>
                                        <td class="bannerInputCell">
                                            <input type="file" class="bannerFileInput" accept="image/jpeg, image/png"
                                                th:id="${item.bannerFileName}"
                                                th:onchange="FileUpProcess(this, [[${index.index}]])"/>
                                            <span class="bannerFileInputRemove">x</span>
                                            <br/>
                                            <input type="text" class="bannerHrefInput" th:value="${item.bannerHref}"/>
                                        </td>
                                        <td th:id="${item.idx}" class="bannerCellRemove" onclick="bannerRemoveItem(this)">삭제</td>                                   
                                    </tr>                              
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               <div class="table__action">
                   <button type="button" class="btn-normal banner-add-item">배너 추가하기</button>
                   <button type="button" class="btn-normal banner-update-btn">등록하기</button>
               </div>
           </div>
       </section>
    </main>

</th:block>

<th:block layout:fragment="script">
<script>
    window.addEventListener('DOMContentLoaded', () => {
        highlightMenu();
        pageOn();
        // listCheck();
        bannerAddItem();
        // bannerRemoveItem();
        // bannerInputFile();
        bannerInputFileRemove();
        IsShowbannerInputFileRemove();
        bannerUpdate();
    });
</script>
</th:block>

</html>