<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" class="main-list" data-category="users">
        <section class="section section-users">
            <h2 class="section_title">탈퇴 목록</h2>
            <div class="table">
                <div class="table__top">
                    <div class="top-wrap">
                        <div class="header-wrap">
                            <span class="table__count">전체<i class="value" th:text="${count}"></i></span>
                            <form class="table__search">
                                <select class="select" name="sort">
                                    <option value="id" th:selected="${sort} eq 'id'">아이디</option>
                                    <option value="name" th:selected="${sort} eq 'name'">이름</option>
                                    <option value="phone" th:selected="${sort} eq 'phone'">연락처</option>
                                </select>
                                <input class="input" name="search" type="text" th:value="${search}" placeholder="검색어 입력">
                                <button type="submit" class="btn-prime">검색</button>
                            </form>
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th class="sorting">번호</th>
                        <th>구분</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>연락처</th>
                        <th>이메일</th>
                        <th>지역</th>
                        <th>연령</th>
                        <th>성별</th>
                        <th>탈퇴일</th>
                        <th>탈퇴예정일</th>
                    </tr>
                    </thead>

                    <tbody th:if="${count} eq 0">
                    <tr>
                        <td colspan="13">
                            <span>탈퇴한 회원이 없습니다.</span>
                        </td>
                    </tr>
                    </tbody>

                    <tbody th:if="${count} ne 0">
                    <tr th:each="list : ${terminateList}" th:onclick="|linkTo(event,'/admin/manage/user/details?usersIdx=${list.usersIdx}')|">
                        <td><span th:text="${list.usersIdx}"></span></td>
                        <td><span th:text="${list.usersRole} eq 'CLIENT' ? '의뢰인' : '탐정'"></span></td>
                        <td>
                            <span th:text="${list.usersAccount}"></span>
                        </td>
                        <td>
                            <span th:text="${list.usersName}"></span>
                        </td>
                        <td>
                            <span th:text="${list.usersNick}"></span>
                        </td>
                        <td>
                            <span class="contact" th:text="${list.usersPhone}"></span>
                        </td>
                        <td>
                            <span th:text="${list.usersEmail}"></span>
                        </td>
                        <td>
                            <span th:text="${list.usersRegion1}"></span>
                        </td>
                        <td>
                            <span th:text="${list.usersAge}"></span>
                        </td>
                        <td>
                            <span th:text="${list.usersGender} eq 0 ? '남성' : '여성'"></span>
                        </td>
                        <td>
                            <span th:text="${#dates.format(list.terminateCreateDate, 'yyyy-MM-dd')}"></span>
                        </td>
                        <td>
                            <span th:text="${#dates.format(list.terminateRequestDate, 'yyyy-MM-dd')}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table__paging">
                    <ul>
                        <li><a class="first" th:href="@{/admin/manage/user/terminate/list(sort=${sort}, search=${search}, page=1)}"></a></li>
                        <li><a class="prev" th:href="@{/admin/manage/user/terminate/list(sort=${sort}, search=${search}, page=${pagination.prevBlock})}"></a></li>

                        <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                            <li th:each="pageButton : ${#numbers.sequence(start, end)}"><a class="pageNum" th:href="@{/admin/manage/user/terminate/list(sort=${sort}, search=${search}, page=${pageButton})}" th:text="${pageButton}"></a></li>
                        </th:block>

                        <li><a class="next" th:href="@{/admin/manage/user/terminate/list(sort=${sort}, search=${search}, page=${pagination.nextBlock})}"></a></li>
                        <li><a class="last" th:href="@{/admin/manage/user/terminate/list(sort=${sort}, search=${search}, page=${pagination.totalPageCnt eq 0 ? 1 : pagination.totalPageCnt})}"></a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</th:block>

<th:block layout:fragment="script">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            highlightMenu('terminate');
            pageOn();
            telFormat();
            new Table(document.querySelector('#main table'));
        });
    </script>
</th:block>

</html>
