<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">
<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" data-category="chat">
        <section class="section section-users">

            <h2 class="section_title">메시지</h2>

            <div class="form form--xxl">
                <div th:if="${chatList ne null}" class="tab_cont">
                    <fieldset class="fieldset">
                        <div class="msg-form">
                            <div class="msg-top">
                                <span class="msg-company" th:text="${chatList[0].roomName}"></span>
                                <span class="msg-roomId" th:text="${chatList[0].roomId}"></span>
                                <span class="msg-client" th:text="${chatList[0].usersAccount}"></span>
                            </div>

                            <div class="msg-body chatBody">
                                <div class="msg-wrap chatMessageBoard2" th:if="${chatList[0].message} ne null">
                                    <div class="" th:each="list : ${chatList}">
                                        <div class="msg-date" th:if="${list.dateCheck} eq 1">
                                            <hr>
                                            <span th:text="${#dates.format(list.sendDate, 'yyyy.MM.dd')}"></span>
                                            <hr>
                                        </div>
                                        <div th:classappend="${list.sender} eq 'client' ? 'msg-right' : 'msg-left'">
                                            <div class="msg-content" th:text="${list.message}"></div>
                                            <div class="msg-time" th:text="|${#dates.hour(list.sendDate) < 12 ? '오전' : '오후'} ${#dates.format(list.sendDate, 'h:mm')}|">오후 8:20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="msg-bottom chatMessageInput">
                                <div class="message-input">
                                    <textarea class="chatTextInput" id="message" type="text" th:readonly="${chatList[0].roomName ne '상담사'}"></textarea>
                                    <input class="chatSendBtn" id="sendBtn" type="button" onclick="sendMessage()" value="보내기" th:disabled="${chatList[0].roomName ne '상담사'}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form__action bottom">
                        <a th:href="@{/admin/manage/chat/list}" class="btn-normal">목록가기</a>
                        <a th:href="@{/admin/manage/company/details(companysIdx=${chatList[0].companysIdx})}" class="btn-prime">업체 바로가기</a>
                    </div>
                </div>
                <!-- -->
                <div th:unless="${chatList ne null}" class="tab_cont">
                    <fieldset class="fieldset">
                        <div class="msg-form">
                            <div class="msg-top">
                                <span class="msg-company"></span>
                                <span class="msg-roomId"></span>
                                <span class="msg-client"></span>
                            </div>

                            <div class="msg-body chatBody">
                                <div class="msg-wrap chatMessageBoard2">
                                    <div class="">
                                        <div class="msg-date">
                                            <hr>
                                            <span></span>
                                            <hr>
                                        </div>
                                        <div>
                                            <div class="msg-content" ></div>
                                            <div class="msg-time">오후 8:20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="msg-bottom chatMessageInput">
                                <div class="message-input">
                                    <textarea class="chatTextInput" id="message" type="text"></textarea>
                                    <input class="chatSendBtn" id="sendBtn" type="button" onclick="sendMessage()" value="보내기"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form__action bottom">
                        <a th:href="@{/admin/manage/chat/list}" class="btn-normal">목록가기</a>
                        <a th:href="@{/admin/manage/company/details(companysIdx=${chatList[0].companysIdx})}" class="btn-prime">업체 바로가기</a>
                    </div>
                </div>
            </div>

        </section>
    </main>

</th:block>
<th:block>
</th:block>

<th:block layout:fragment="script">
    <script src="/assets/js/admin/util/CurrentDate.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script>
        const currentDate = new CurrentDate();
        let sock;
        let messages = [];
        sock = new SockJS("/ws/chat");
        let ws = Stomp.over(sock);
        let reconnect = 0;

        const queryString = window.location.search;
        const queryParam = new URLSearchParams(queryString);
        const roomId = queryParam.get("roomId");

        const recvMessage = (recv) => {
            messages.push({
                "messageType": recv.messageType,
                "sender": recv.messageType == "ENTER" ? '[알림]' :
                    recv.messageType == "LEAVE" ? "[알림]" : recv.sender,
                "message": recv.message,
                "fileMessage": recv.message,
                "sendDate": recv.sendDate
            })
            window.location.reload();
        }

        const sendMessage = () => {
            const message = document.querySelector("#message");
            if(message.value != "") {
                ws.send("/app/chat/message", {}, JSON.stringify({
                    messageType:"TALK",
                    roomId: roomId,
                    sender: "상담사",
                    message: message.value,
                    fileMessage: null,
                    sendDate: currentDate.ShowCurrentDate()
                }));
                message.value = "";
            }
        }

        const connectSocket = () => {
            ws.connect({}, (frame) => {
                ws.subscribe(`/topic/chat/room/${roomId}`, (message) => {
                    let recv = JSON.parse(message.body);
                    recvMessage(recv);
                })
                // ws.send("/app/chat/message", {}, JSON.stringify({
                //     messageType: "ENTER",
                //     roomID: roomId,
                //     sender: "ADMIN",
                //     sendDate: currentDate.ShowCurrentDate()
                // }))
            })
        }
    </script>
    <script>
        window.addEventListener('load', function () {
            highlightMenu();
            connectSocket();

            const msgBody = document.querySelector('.chatBody');
            const msgHeight = document.querySelector('.chatMessageBoard2').scrollHeight;
            msgBody.scrollBy(0, msgHeight);
        });
    </script>
</th:block>

</html>
