<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main">
        <section class="section section-users">
            <h2 class="section_title">공지사항 수정</h2>

            <div class="form form--sm form-register" style="height: 100%;">

                <fieldset class="fieldset"  style="margin-left: -38%;  height: 100%;">
                    <div class="input-wrap">
                        <label class="label">공지 번호</label>
                        <input type="text" id="idx" class="input" th:value="${details.idx}" readonly />
                    </div>
                    <div class="input-wrap">
                        <label class="label">제목<i class="required">*</i></label>
                        <input type="text" id="title" class="input" spellcheck="false" th:value="${details.title}" placeholder="제목 입력">
                    </div>
                    <div class="input-wrap">
                        <label class="label">작성자<i class="required">*</i></label>
                        <input type="text" id="author" class="input" spellcheck="false" th:value="${details.author}" readonly>
                    </div>
                    <div class="input-wrap" style="height: 60%;">
                        <label class="label">내용</label>
                        <!-- <textarea id="content" class="textarea"></textarea> -->
                        <div class="e-wrap" style="height: 100%;">
                            <div id="editor" th:utext="${details.content}"></div>
                        </div>                        
                    </div>
                </fieldset>

                <div class="form__action bottom">
                    <!-- <button type="button" class="btn-return notice-detail-btn" th:href="@{/admin/manage/notice/list}">돌아가기</button> -->
                    <button type="button" class="btn-del notice-detail-btn">삭제하기</button>
                    <button type="button" class="btn-prime btn-update notice-detail-btn">수정하기</button>
                </div>

            </div>

        </section>
    </main>
<style>
    .notice-detail-btn {
        width: 28% !important;
    }
</style>
</th:block>

<th:block layout:fragment="script">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:src="@{/assets/js/admin/library.js}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const currentURL = window.location.href;
            const urlObject = new URL(currentURL);
            const str = urlObject.searchParams.toString();
            const idx = str.split("=")[1];
            console.log(`현재 공지번호: ${idx}`);

            const editorWrap = document.querySelectorAll('.e-wrap');
            setTimeout(e => {
                editorWrap[0].style.display = 'block';
            }, 500);
            const editor = createEditorForNotice(idx);
            updateNoticeByNoticeIdx(editor);
            deleteNoticeByIdx();
        });

        
    </script>
</th:block>

</html>
