<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" class="main-list" data-category="board">
        <section class="section section-users">
            <h2 class="section_title">공지사항 목록</h2>
            <div class="table">
                <div class="table__top">
                    <div class="top-wrap">
                        <div class="header-wrap">
                            <span class="table__count">전체<i class="value" th:text="${count}"></i></span>
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th class="check"><input type="checkbox" name="checkAll" id="checkAll"></th>
                        <th class="w-100">번호</th>
                        <th class="w-850">제목</th>
                        <th class="w-250">작성자</th>
                        <th class="w-250">등록일</th>
                    </tr>
                    </thead>

                    <tbody th:if="${count} eq 0">
                    <tr>
                        <td colspan="5">
                            <span>등록된 공지사항이 없습니다.</span>
                        </td>
                    </tr>
                    </tbody>

                    <tbody th:if="${count} ne 0">
                    <tr th:each="list : ${noticeList}" class="js-modalShow notice-btn" data-modal="notice">

                        <input type="hidden" class="noticeContent" th:value="${list.content}">

                        <td class="check">
                            <input type="checkbox" class="listCheck" name="listCheck" th:value="${list.idx}" onclick="event.cancelBubble=true">
                        </td>
                        <td>
                            <span class="noticeIdx" th:text="${list.idx}"></span>
                        </td>
                        <td>
                            <div class="f-center">
                                <span class="noticeTitle content-overflow" th:text="${list.title}"></span>
                            </div>
                        </td>
                        <td>
                            <span class="noticeAuthor" th:text="${list.author}"></span>
                        </td>
                        <td>
                            <span class="noticePostDate" th:text="${#strings.substring(#strings.replace(list.postDate, 'T', ' '), 0, 16)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="table__action">
                    <button type="button" class="btn-normal btn-delete">삭제</button>
                    <button type="button" class="btn-normal">
                        <a href="/admin/manage/notice/register">
                            작성하기
                        </a>
                    </button>
                </div>

                <div class="table__paging">
                    <ul>
                        <li><a class="first" th:href="@{/admin/manage/notice/list(sort=${sort}, search=${search}, page=1)}"></a></li>
                        <li><a class="prev" th:href="@{/admin/manage/notice/list(sort=${sort}, search=${search}, page=${pagination.prevBlock})}"></a></li>

                        <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                            <li th:each="pageButton : ${#numbers.sequence(start, end)}"><a class="pageNum" th:href="@{/admin/manage/notice/list(sort=${sort}, search=${search}, page=${pageButton})}" th:text="${pageButton}"></a></li>
                        </th:block>

                        <li><a class="next" th:href="@{/admin/manage/notice/list(sort=${sort}, search=${search}, page=${pagination.nextBlock})}"></a></li>
                        <li><a class="last" th:href="@{/admin/manage/notice/list(sort=${sort}, search=${search}, page=${pagination.totalPageCnt eq 0 ? 1 : pagination.totalPageCnt})}"></a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <div class="modal modal-notice w-800" data-modal="notice">
        <div class="modal__inner">
            <div class="modal-head">
                <span class="modal__title">공지사항 상세</span>
                <a class="modal-cross js-modalClose"></a>
            </div>
            <div class="write">
                <input type="hidden" class="modal-id">
                <input type="hidden" id="postDate">
                <div class="write-body">
                    <div class="table">
                        <table>
                            <tbody>
                            <tr>
                                <td class="modal-th">번호</td>
                                <td id="idx" class="modal-td"></td>
                            </tr>
                            <tr>
                                <td class="modal-th">작성자</td>
                                <td id="author" class="modal-td"></td>
                            </tr>
                            <tr>
                                <td class="modal-th">제목</td>
                                <td class="modal-td">
                                    <div class="input-wrap">
                                        <input type="text" id="title" class="input" spellcheck="false" placeholder="제목 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">내용</td>
                                <td class="modal-td">
                                    <div class="input-wrap">
                                        <textarea id="content" class="textarea" spellcheck="false"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form__action bottom">
                        <button class="btn-del btn-delete hospital-delete">삭제하기</button>
                        <button class="btn-prime hospital-modify">수정하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            highlightMenu('notice');
            pageOn();
            listCheck();
            noticeDetailsModal();
            removeListItem02("/admin/manage/notice/listDelete");
            updateNoticeByNoticeIdx();
            new Table(document.querySelector('#main table'));
        });
    </script>
</th:block>

</html>
