<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main">
        <section class="section section-users">
            <h2 class="section_title">공지사항 등록</h2>

            <div class="form form--sm form-register">

                <fieldset class="fieldset">
                    <div class="input-wrap">
                        <label class="label">제목<i class="required">*</i></label>
                        <input type="text" id="title" class="input" spellcheck="false" placeholder="제목 입력">
                    </div>
                    <div class="input-wrap">
                        <label class="label">작성자<i class="required">*</i></label>
                        <input type="text" id="author" class="input" spellcheck="false" th:value="${usersName}" readonly>
                    </div>
                    <div class="input-wrap">
                        <label class="label">내용</label>
                        <textarea id="content" class="textarea"></textarea>
                    </div>
                </fieldset>

                <div class="form__action bottom">
                    <a class="btn-return" th:href="@{/admin/manage/notice/list}">돌아가기</a>
                    <button type="button" class="btn-register">등록하기</button>
                </div>

            </div>

        </section>
    </main>

</th:block>

<th:block layout:fragment="script">
    <script>
        window.addEventListener('DOMContentLoaded', () => {            
            // 공지사항 등록
            const registerBtn = document.querySelector('.btn-register');
            registerBtn.addEventListener('click', insertNotice);
        });
    </script>
</th:block>

</html>
