<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/usersmanage/UsersManage.css" />
<title>리뷰 관리 페이지</title>
</head>
<head th:replace="admin/fragments/html-head.html :: html-head" />
<body>
<header th:replace="admin/fragments/html-header.html :: html-header" />
<div class="container-fluid">	
    <div class="row">
        <div class="col-2">
            <nav th:replace="admin/fragments/html-sidebar.html :: html-sidebar" />
        </div>
        <div class="col-10">
            <h3>리뷰 관리</h3>
            <form method="GET" action="/admin/usersManage/findByUsersAccount">
            <div class="input-group">            
                <input type="text" name="usersAccount" id="usersAccount" class="form-control" placeholder="회원 아이디" aria-label="회원 아이디" aria-describedby="searchBtn">
                <input class="btn btn-outline-secondary" type="submit" id="searchBtn" value="검색" />
            </div>
            </form>
            <br/>            
            <div class="tableDiv">
                <table class="table">
                    <thead>
                        <tr class="table-success">
                            <th>번호</th>
                            <th>탐정업체</th>
                            <th>의뢰인</th>
                            <th>내용</th>
                            <th>후기일자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${reviewList} != null" th:each="reviewList : ${reviewList}">
                            <td>[[${reviewList.idx}]]</td>
                            <td></td>
                            <td></td>
                            <td></td>                           
                            <td>[[${reviewList.reviewDate}]]</td>
                        </tr>
                        <tr th:unless="${reviewList} != null">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
            <div class="">
                <nav th:if="${pagination} != null">
                    <ul class="pagination">
                        <li th:if="${pagination.blockCount < currentPage}">
                            <a class="page-link" th:href="@{/admin/usersManage/usersList(currentPage=${pagination.previousBlock})}">
                                PREV
                            </a>
                        </li>              
                        <li class="page-item" th:if="${pagination.lastBlock < pagination.blockLast}" th:each="page : ${#numbers.sequence(pagination.blockFirst, pagination.lastBlock)}">                           
                            <a class="page-link" th:href="@{/admin/usersManage/usersList(currentPage=${page})}">
                                [[${page}]]
                            </a>
                        </li>                 
                        <li class="page-item" th:unless="${pagination.lastBlock < pagination.blockLast}" th:each="page : ${#numbers.sequence(pagination.blockFirst, pagination.blockLast)}">                           
                            <a class="page-link" th:href="@{/admin/usersManage/usersList(currentPage=${page})}">
                                [[${page}]]
                            </a>
                        </li>
                        <li th:if="${currentPage <= pagination.lastBlock}">
                            <a class="page-link" th:if="${pagination.lastBlock > pagination.blockLast}" th:href="@{/admin/usersManage/usersList(currentPage=${pagination.nextBlock})}">
                                NEXT
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav th:unless="pagination != null">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link">1</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>