<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/usersmanage/UsersManage.css" />
<title>탐정 회원 관리 페이지</title>
</head>
<head th:replace="admin/fragments/html-head.html :: html-head" />
<body>
<div class="container-fluid">	
    <div class="row">
        <div class="col-2">
            <nav th:replace="admin/fragments/html-sidebar.html :: html-sidebar" />
        </div>
        <div class="col-10">
        <header th:replace="admin/fragments/html-header.html :: html-header" />
        <div class="container text-center">
            <h3>탐정 관리</h3>
            <div class="row">
                <div class="col align-self-start">
                </div>
                <div class="col align-self-center">
                    <button class="btn btn-light active">전체</button>
                    <button class="btn btn-light" id="withdrawalBtn">탈퇴</button>
                </div>
                <div class="col align-self-end">
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <span th:if="${allPostCount} != null">전체 [[${allPostCount}]]</span>
                </div>
                <div class="col">
                    <button id="detectiveList" class="btn btn-light active">탐정</button>
                    <button id="clientList" class="btn btn-light">의뢰인</button>
                    <button id="tempList" class="btn btn-light">비회원</button>
                </div>
                <div class="col-4">
                    <div class="input-group">            
                        <input type="text" name="usersAccount" id="usersAccount" class="form-control" placeholder="회원 아이디" aria-label="회원 아이디" aria-describedby="searchBtn">
                        <input class="btn btn-outline-secondary" type="submit" id="searchBtn" value="검색" />
                    </div>
                </div>
            </div>
            <form method="GET" action="/admin/usersManage/findByUsersAccount">            
            </form>
            <br/>                      
            <div class="tableDiv">
                <table class="table">
                    <thead>
                        <tr class="table-success">
                            <th>회원 번호</th>
                            <th>아이디</th>
                            <th>속성</th>
                            <th>가입일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="userList != null" th:each="usersList : ${usersList}">
                            <td>[[${usersList.usersIdx}]]</td>
                            <td><a th:href="@{/admin/usersManage/usersInfo(usersAccount=${usersList.usersAccount})}">[[${usersList.usersAccount}]]</a></td>
                            <td>[[${usersList.usersRole}]]</td>
                            <td>[[${usersList.usersJoinDate}]]</td>
                        </tr>
                        <tr th:unless="userList != null">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
            <div class="">
                <nav th:if="${pagination} != null">
                    <ul class="pagination">
                        <li th:if="${pagination.blockCount < currentPage}">
                            <a class="page-link" th:href="@{/admin/usersManage/detectiveList(currentPage=${pagination.previousBlock})}">
                                PREV
                            </a>
                        </li>              
                        <li class="page-item" th:if="${pagination.lastBlock < pagination.blockLast}" th:each="page : ${#numbers.sequence(pagination.blockFirst, pagination.lastBlock)}">                           
                            <a class="page-link" th:href="@{/admin/usersManage/detectiveList(currentPage=${page})}">
                                [[${page}]]
                            </a>
                        </li>                 
                        <li class="page-item" th:unless="${pagination.lastBlock < pagination.blockLast}" th:each="page : ${#numbers.sequence(pagination.blockFirst, pagination.blockLast)}">                           
                            <a class="page-link" th:href="@{/admin/usersManagedetectiveList(currentPage=${page})}">
                                [[${page}]]
                            </a>
                        </li>
                        <li th:if="${currentPage <= pagination.lastBlock}">
                            <a class="page-link" th:if="${pagination.lastBlock > pagination.blockLast}" th:href="@{/admin/usersManage/detectiveList(currentPage=${pagination.nextBlock})}">
                                NEXT
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav th:unless="pagination != null">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link">1</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
<script>
const WITHDRAWAL_BTN = document.querySelector("#withdrawalBtn");
WITHDRAWAL_BTN.addEventListener("click", () => {
    window.location.href="/admin/usersManage/withdrawalDetectiveList";
})

const DETECTIVE_LIST_BTN = document.querySelector("#clientList");
DETECTIVE_LIST_BTN.addEventListener("click", () => {
    window.location.href="/admin/usersManage/clientList";
})

</script>
</html>