<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" class="main-list" data-category="price">
        <section class="section section-users">
            <h3 class="section_title">지역&분야별 가격 관리</h3>
                <div class="table">
                    <table class="" th:if="${price ne null}">
                        <thead th:id="priceIdx" th:class="${price.priceIdx}">
                            <tr>
                                <th>은행</th>
                                <th>계좌번호</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                           
                                <td>
                                    <input id="priceBankName" type="text" th:value="${price.bankName}"/>
                                </td>
                                <td>
                                    <input id="priceBankNumber" type="text" th:value="${price.bankNumber}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="" th:unless="${price ne null}">
                        <thead>
                            <tr>
                                <th>은행</th>
                                <th>계좌번호</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" />
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>                  
                    <input class="btn price-modify-btn" type="button" value="은행 정보 수정" />
                </div>
           
                <div class="table">              
                    <table class="regionTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>지역명</th>
                            <th>가격</th>
                            <th>선택 가능 여부</th>
                        </tr>
                        </thead>
                        <tbody id="regionList">
                        <tr class="regionTR" th:each="regionlist : ${region}">
                            <td class="regionIdx">
                                <input class="regionIdxValue" type="checkbox" th:value="${regionlist.regionIdx}" />
                            </td>
                            <td class="regionName">
                                <input class="regionNameValue" type="text" th:value="${regionlist.regionName}"/>
                            </td>
                            <td class="regionPrice">
                                <input class="regionPriceValue" type="text" th:value="${regionlist.regionPrice}"/>
                            </td>
                            <td class="regionSelectable" th:if="${regionlist.regionSelectable == 1}">
                                선택 가능
                            </td>
                            <td class="regionSelectable" th:if="${regionlist.regionSelectable == 0}">
                                선택 불가
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <input class="btn region-lock-btn" type="button" value="지역 잠금" />
                        <input class="btn region-unlock-btn" type="button" value="지역 잠금 해제" />
                        <input class="btn region-remove-btn" type="button" value="지역 삭제" />
                        <input class="btn region-add-btn" type="button" value="지역 추가" />
                        <input class="btn region-modify-btn" type="button" value="지역 수정" />
                    </div>
                </div>

                <div class="table">
                    <table class="categoryTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>분야</th>
                            <th>가격</th>
                            <th>아이콘</th>
                        </tr>
                        </thead>
                        <tbody id="categoryList">
                        <tr class="categoryTR" th:each="categorylist : ${category}">
                            <td class="categoryIdx">
                                <input class="categoryIdxValue" type="checkbox" th:value="${categorylist.categoryIdx}" />
                            </td>
                            <td class="categoryName">
                                <input class="categoryNameValue" type="text" th:value="${categorylist.categoryName}"/>
                            </td>
                            <td class="categoryPrice">
                                <input class="categoryPriceValue" type="text" th:value="${categorylist.categoryPrice}"/>
                            </td>
                            <td class="categoryIcon">
                                <img class="categoryIconPreview" />
                                <input class="categoryIconInputFile" type="file" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <input class="btn category-remove-btn" type="button" value="분야 삭제"/>
                        <input class="btn category-add-btn" type="button" value="분야 추가"/>
                        <input class="btn category-modify-btn" type="button" value="분야 수정"/>
                    </div>
                </div>
        </section>
    </main>
</th:block>

<th:block layout:fragment="script">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            // highlightMenu('list');
            modifyPrice();

            regionLock();
            regionUnlock();
            removeRegionItem();
            addRegionItem();
            modifyRegion();

            removeCategoryItem();
            addCategoryItem();
            categoryIconInputFileChange();
            modifyCategory();
        });
    </script>
</th:block>

</html>
