<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" data-category="policy">
        <section class="section">

            <div class="form form--xxl form-profile">
                <span class="profile-name">정책 관리</span>
            </div>

            <div class="tab form form--xxl form-menu">

                <div class="tab_nav form-tab">
                    <span class="tab-nav__btn tabBtn btn tab-menu on activate" th:text="${policy[0].policyTitle}"></span>
                    <span class="tab-nav__btn tabBtn btn tab-menu" th:text="${policy[1].policyTitle}"></span>
                </div>

                <div class="tab_cont">

                    <div class="tab-cont__item tabItem activate">
                        <div class="tab_cont_item">
                            <fieldset class="fieldset">
                                <input type="hidden" class="policyIdx" th:value="${policy[0].policyIdx}">
                                <div class="input-wrap input-wrap--area">
                                    <textarea class="textarea policyContents" spellcheck="false" th:text="${policy[0].policyContents}"></textarea>
                                </div>
                            </fieldset>
                            <hr class="policy-hr">
                            <fieldset class="fieldset">
                                <div class="tab-wrap">
                                    <div>
                                        <span th:text="|수정일 : ${#dates.format(policy[0].modifiedDate, 'yyyy-MM-dd')}|"></span>
                                    </div>
                                    <div>
                                        <span th:text="|${policy[0].policyTitle} 등록일: ${#dates.format(policy[0].policyCreateDate, 'yyyy-MM-dd')}|"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form__action bottom m-b-30">
                            <button type="button" class="btn-normal" onclick="location.reload()">돌아가기</button>
                            <button type="button" class="btn-prime policy-modify">적용</button>
                        </div>
                    </div>

                    <div class="tab-cont__item tabItem">
                        <div class="tab_cont_item">
                            <fieldset class="fieldset">
                                <input type="hidden" class="policyIdx" th:value="${policy[1].policyIdx}">
                                <div class="input-wrap input-wrap--area">
                                    <textarea class="textarea policyContents" spellcheck="false" th:text="${policy[1].policyContents}"></textarea>
                                </div>
                            </fieldset>
                            <hr class="policy-hr">
                            <fieldset class="fieldset">
                                <div class="tab-wrap">
                                    <div>
                                        <span th:text="|수정일 : ${#dates.format(policy[1].modifiedDate, 'yyyy-MM-dd')}|"></span>
                                    </div>
                                    <div>
                                        <span th:text="|${policy[1].policyTitle} 등록일: ${#dates.format(policy[1].policyCreateDate, 'yyyy-MM-dd')}|"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form__action bottom m-b-30">
                            <button type="button" class="btn-normal" onclick="location.reload()">돌아가기</button>
                            <button type="button" class="btn-prime policy-modify">적용</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</th:block>

<th:block layout:fragment="script">
    <script>
        window.addEventListener('load', function () {
            highlightMenu();
            new Tab();

            // 정책 수정
            const modifyBtn = document.querySelectorAll('.policy-modify');
            for (let i = 0; i < modifyBtn.length; i++) {
                modifyBtn[i].addEventListener('click', e => {
                    modifyPolicy(i);
                });
            }
        });
    </script>
</th:block>

</html>
