.bannerRows {
    height: 150px !important;
}

.bannerPreviewCell {
    width: 20% !important;
    height: 100% !important;
}

.bannerInputCell {
    text-align: start !important;
    height: 100% !important;
}

.bannerFileInputRemove {
    display: inline !important;
    visibility: hidden;
}