.bannerRows {
    height: 150px !important;
}

.bannerPreviewCell {
    width: 40% !important;
    height: 100% !important;
}

.bannerPreview {
    width: 100%;
    height: 145px !important;
}

.bannerInputCell {
    text-align: start !important;
    width: 50% !important;
    height: 100% !important;
}

.bannerFileInputRemove {
    display: inline !important;
    visibility: hidden;
}


.hiddenTd {
    display: none;
}
