<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<th:block layout:fragment="content">

    <th:block th:replace="admin/fragments/aside :: asideFragment"></th:block>

    <main id="main" data-category="company">
        <section class="section section-users">

            <div class="form form--xxl form-menu">
                <div class="t-top-wrap">
                    <div>
                        <a class="btn-chart" th:href="@{/admin/manage/company/chart(companysIdx=${details.companysIdx})}"></a>
                    </div>
                    <div>
                        <a class="btn-review" th:href="@{/admin/manage/company/review(companysIdx=${details.companysIdx})}"></a>
                        <label class="badge" th:text="${details.reviewCount} eq null ? 0 : ${details.reviewCount}"></label>
                    </div>
                    <div>
                        <a class="btn-report" th:href="@{/admin/manage/company/report(companysIdx=${details.companysIdx})}"></a>
                        <label class="badge" th:text="${details.reportCount} eq null ? 0 : ${details.reportCount}"></label>
                    </div>
                </div>
            </div>

            <div class="form form--xxl details-form">
                <div>
                    <fieldset class="fieldset">
                        <table class="dt-table">
                            <tbody>
                                <tr>
                                    <!-- <td colspan="4">
                                        <input type="hidden" class="companysIdx" th:value="${details.companysIdx}">
                                        <div class="company-profile-wrap">
                                            <div class="p-wrap">
                                                <img th:if="${details.companysProfileImage} eq null" class="company-profile-img" th:src="@{/assets/images/ico/ico-logo.svg}">
                                                <img th:if="${details.companysProfileImage} ne null" class="company-profile-img profile-link" th:onclick="|window.open('@{${details.companysProfileImage}}')|" th:src="@{${details.companysProfileImage}}">
                                            </div>
                                            <div class="company-description-wrap">
                                                <div class="input-wrap">
                                                    <input type="text" spellcheck="false" class="input c-comment" th:value="${details.companysComment}">
                                                </div>
                                                <div class="text-wrap editor-details-wrap e-wrap">
                                                    <div id="editor" th:utext="${details.companysSpec}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td> -->
                                    <td rowspan="2" colspan="1" style="text-align: center;">
                                        <input type="hidden" class="companysIdx" th:value="${details.companysIdx}">
                                        <input type="file" class="hidden" id="newProfileImage" accept="image/png, image/jpeg" />
                                        <div class="company-profile-wrap">
                                            <div class="">
                                                <img th:if="${details.companysProfileImage} eq null" id="company-profile-img" class="company-profile-img" th:src="@{/assets/images/ico/ico-logo.svg}">
                                                <img th:if="${details.companysProfileImage} ne null" id="company-profile-img" class="company-profile-img profile-link" th:onclick="profileImageClick()" th:src="@{${details.companysProfileImage}}"> <!-- th:onclick="|window.open('@{${details.companysProfileImage}}')|" -->
                                                <input type="hidden" id="company-profile-img-file-name" />
                                            </div>
                                        </div>
                                        <button>
                                            <a id="companyProfileImageDownBtn" th:href="${details.companysProfileImage}" target="_blank">보기</a>
                                        </button>
                                    </td>
                                    <div class="company-description-wrap">                                   
                                    <td colspan="3">
                                        <div class="input-wrap">
                                            <label for="c-comment">간단 소개글</label>
                                        </div>                                        
                                        <div class="input-wrap">
                                            <input type="text" spellcheck="false" class="input c-comment" th:value="${details.companysComment}">
                                        </div>                                      
                                    </td>
                                    </div>                                           
                                </tr>
                                <tr>
                                    <td colspan="3" style="padding-bottom: 50px;">
                                        <div class="text-wrap editor-details-wrap e-wrap">
                                            <div id="editor" th:utext="${details.companysSpec}"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>업체번호</th>
                                    <td id="companysIdx" th:text="${details.companysIdx}"></td>
                                    <th>상태</th>
                                    <td>
                                        <div class="input-wrap approval-wrap">
                                            <select class="select width-100-per c-enabled">
                                                <option value="1" th:selected="${details.companysEnabled} eq 1">승인</option>
                                                <option value="0" th:selected="${details.companysEnabled} eq 0">대기</option>
                                                <option value="-1" th:selected="${details.companysEnabled} eq -1">반려</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>업체명<i class="required">*</i></th>
                                    <td>
                                        <div class="input-wrap">
                                            <input type="text" spellcheck="false" class="input c-name" th:value="${details.companysName}">
                                        </div>
                                    </td>
                                    <th>대표</th>
                                    <td class="c-ceo" th:text="${details.companysCeoName}"></td>
                                </tr>
                                <tr>
                                    <th>주소<i class="required">*</i></th>
                                    <td>
                                        <div class="td-flex-wrap">
                                            <div class="select-wrap">
                                                <select class="select select-sm" id="region01">
                                                    <option th:each="list : ${regionList}" th:selected="${details.companysRegion1} eq ${list.regionName}" th:value="${list.regionName}">[[${list.regionName}]]</option>
                                                    <!-- <option value="서울" th:selected="${details.companysRegion1} eq '서울'">서울</option>
                                                    <option value="경기" th:selected="${details.companysRegion1} eq '경기'">경기</option>
                                                    <option value="대전/충남/세종" th:selected="${details.companysRegion1} eq '대전/충남/세종'">대전/충남/세종</option>
                                                    <option value="인천/부천" th:selected="${details.companysRegion1} eq '인천/부천'">인천/부천</option>
                                                    <option value="강원" th:selected="${details.companysRegion1} eq '강원'">강원</option>
                                                    <option value="전주/전북" th:selected="${details.companysRegion1} eq '전주/전북'">전주/전북</option>
                                                    <option value="청주/충북" th:selected="${details.companysRegion1} eq '청주/충북'">청주/충북</option>
                                                    <option value="대구/경북" th:selected="${details.companysRegion1} eq '대구/경북'">대구/경북</option>
                                                    <option value="부산/울산/경남" th:selected="${details.companysRegion1} eq '부산/울산/경남'">부산/울산/경남</option>
                                                    <option value="광주/전남" th:selected="${details.companysRegion1} eq '광주/전남'">광주/전남</option>
                                                    <option value="제주" th:selected="${details.companysRegion1} eq '제주'">제주</option> -->
                                                </select>
                                            </div>
                                            <div class="input-wrap">
                                                <input type="text" spellcheck="false" class="input c-region3" th:value="${details.companysRegion3}">
                                            </div>
                                        </div>
                                    </td>
                                    <th>연락처<i class="required">*</i></th>
                                    <td>
                                        <div class="td-flex-wrap">
                                            <div class="input-wrap margin-0">
                                                <input type="text" spellcheck="false" class="input onlyNum user-tel c-phone" maxlength="11" th:value="${details.companysPhone}">
                                            </div>
                                            <div class="input-wrap">
                                                <input type="text" spellcheck="false" class="input onlyNum c-safety" maxlength="11" th:value="${details.companysDummyPhone}" disabled>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>은행</th>
                                    <td>
                                        <div class="input-wrap">
                                            <input type="text" spellcheck="false" class="input c-bank" th:value="${details.companysBankName}">
                                        </div>
                                    </td>
                                    <th>계좌번호</th>
                                    <td>
                                        <div class="input-wrap">
                                            <input type="text" spellcheck="false" class="input onlyNum c-bank-num" th:value="${details.companysBankNumber}">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>분야</th>
                                    <td>
                                        <div class="checkbox-wrap">
                                            <div class="dt-check-wrap" th:each="list, index : ${categoryList}">
                                                <input type="checkbox" th:id="${index}" name="category" th:value="${list.categoryName}" th:checked="${#strings.contains(details.companysCategoryValue, list.categoryName)}"/>
                                                <label th:for="${index}">[[${list.categoryName}]]</label>
                                            </div>
                                            <!-- <div class="dt-check-wrap">
                                                <input type="checkbox" id="category1" name="category" value="가정문제" th:checked="${#strings.contains(details.companysCategoryValue, '가정문제')}">
                                                <label for="category1">가정문제</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category2" name="category" value="기업문제" th:checked="${#strings.contains(details.companysCategoryValue, '기업문제')}">
                                                <label for="category2">기업문제</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category3" name="category" value="안전분야 조사" th:checked="${#strings.contains(details.companysCategoryValue, '안전분야 조사')}">
                                                <label for="category3">안전분야 조사</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category4" name="category" value="사기/분쟁" th:checked="${#strings.contains(details.companysCategoryValue, '사기/분쟁')}">
                                                <label for="category4">사기/분쟁</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category5" name="category" value="스토킹" th:checked="${#strings.contains(details.companysCategoryValue, '스토킹')}">
                                                <label for="category5">스토킹</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category6" name="category" value="의료/보험" th:checked="${#strings.contains(details.companysCategoryValue, '의료/보험')}">
                                                <label for="category6">의료/보험</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category7" name="category" value="부동산" th:checked="${#strings.contains(details.companysCategoryValue, '부동산')}">
                                                <label for="category7">부동산</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category8" name="category" value="금융/사이버" th:checked="${#strings.contains(details.companysCategoryValue, '금융/사이버')}">
                                                <label for="category8">금융/사이버</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category9" name="category" value="민원대행" th:checked="${#strings.contains(details.companysCategoryValue, '민원대행')}">
                                                <label for="category9">민원대행</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category10" name="category" value="불법기기탐지" th:checked="${#strings.contains(details.companysCategoryValue, '불법기기탐지')}">
                                                <label for="category10">불법기기탐지</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category11" name="category" value="경호/경비" th:checked="${#strings.contains(details.companysCategoryValue, '경호/경비')}">
                                                <label for="category11">경호/경비</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category12" name="category" value="일반조사" th:checked="${#strings.contains(details.companysCategoryValue, '일반조사')}">
                                                <label for="category12">일반조사</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="category13" name="category" value="해외조사" th:checked="${#strings.contains(details.companysCategoryValue, '해외조사')}">
                                                <label for="category13">해외조사</label>
                                            </div> -->
                                        </div>
                                    </td>
                                    <th>활동지역</th>
                                    <td class="vertical-top">
                                        <div class="checkbox-wrap">
                                            <div class="dt-check-wrap" th:each="list, index : ${regionList}">
                                                <input type="checkbox" th:id="${index}" name="area" th:value="${list.regionName}" th:checked="${#strings.contains(details.activeRegion, list.regionName)}"/>
                                                <label th:for="${index}">[[${list.regionName}]]</label>
                                            </div>
                                            <!-- <div class="dt-check-wrap">
                                                <input type="checkbox" id="area1" name="area" value="서울" th:checked="${#strings.contains(details.activeRegion, '서울')}">
                                                <label for="area1">서울</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area2" name="area" value="경기" th:checked="${#strings.contains(details.activeRegion, '경기')}">
                                                <label for="area2">경기</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area3" name="area" value="대전/충남/세종" th:checked="${#strings.contains(details.activeRegion, '대전/충남/세종')}">
                                                <label for="area3">대전/충남/세종</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area4" name="area" value="인천/부천" th:checked="${#strings.contains(details.activeRegion, '인천/부천')}">
                                                <label for="area4">인천/부천</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area5" name="area" value="강원" th:checked="${#strings.contains(details.activeRegion, '강원')}">
                                                <label for="area5">강원</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area6" name="area" value="전주/전북" th:checked="${#strings.contains(details.activeRegion, '전주/전북')}">
                                                <label for="area6">전주/전북</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area7" name="area" value="청주/충북" th:checked="${#strings.contains(details.activeRegion, '청주/충북')}">
                                                <label for="area7">청주/충북</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area8" name="area" value="대구/경북" th:checked="${#strings.contains(details.activeRegion, '대구/경북')}">
                                                <label for="area8">대구/경북</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area9" name="area" value="부산/울산/경남" th:checked="${#strings.contains(details.activeRegion, '부산/울산/경남')}">
                                                <label for="area9">부산/울산/경남</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area10" name="area" value="광주/전남" th:checked="${#strings.contains(details.activeRegion, '광주/전남')}">
                                                <label for="area10">광주/전남</label>
                                            </div>
                                            <div class="dt-check-wrap">
                                                <input type="checkbox" id="area11" name="area" value="제주" th:checked="${#strings.contains(details.activeRegion, '제주')}">
                                                <label for="area11">제주</label>
                                            </div> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>사업자등록증</th>
                                    <td>
                                       <div class="file-wrap">
                                           <a th:href="${details.companysRegistCerti}" th:text="${details.companysRegistCertiName}" target="_blank"></a>
                                           <button type="button" class="btn-check certi-check" th:if="${details.companysRegistCertiCheck} eq 0">인증</button>
                                           <button type="button" class="btn-check certi-cancel" th:if="${details.companysRegistCertiCheck} eq 1">인증 취소</button>
                                       </div>
                                    </td>
                                    <th>탐정자격증</th>
                                    <td>
                                        <div class="file-wrap" th:if="${details.companysLicense} ne null">
                                            <a th:href="${details.companysLicense}" th:text="${details.companysLicenseName}" target="_blank"></a>
                                            <button type="button" class="btn-check license-check" th:if="${details.companysLicenseCheck} eq 0">인증</button>
                                            <button type="button" class="btn-check license-cancel" th:if="${details.companysLicenseCheck} eq 1">인증 취소</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>사업자등록증 등록일</th>
                                    <td th:text="${details.companysRegistCertiDate}"></td>
                                </tr>
                                <tr>
                                    <th>삭제</th>
                                    <td>
                                        <div class="input-wrap">
                                            <button type="button" class="company-delete">삭제</button>
                                        </div>
                                    </td>
                                    <th>등록일</th>
                                    <td th:text="${#dates.format(details.companysRegistDate, 'yyyy-MM-dd')}"></td>
                                </tr>
                                <tr>
                                    <th>어사인증</th>
                                    <td colspan="3">
                                        <div class="text-wrap e-wrap">
                                            <div id="editor2" th:utext="${details.companysMemo}"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <input type="hidden" class="companysFlagIdx" th:value="${details.companysFlagIdx}">
                    <hr class="fieldset__hr">
                    <fieldset class="fieldset">
                        <table class="dt-table">
                            <thead>
                            <tr>
                                <th class="text-center">제휴협회</th>
                                <th class="text-center">마패</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="input-wrap center-wrap">
                                        <button type="button" th:if="${details.idx} eq 0" class="btn-normal btn-green-lt req-premium">제휴협회 신청</button>
                                        <select class="select width-100-per" th:if="${details.idx} ne 0" disabled>
                                            <option value="1" th:selected="${details.companysPremium} eq 1">적용</option>
                                            <option value="0" th:selected="${details.companysPremium} eq 0">미적용</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-wrap center-wrap">
                                        <button type="button" th:if="${details.companysFlagIdx} eq 0" class="btn-normal btn-green-lt js-modalShow" data-modal="form">마패 신청</button>
                                        <div class="mape-wrap" th:if="${details.companysFlagIdx} ne 0">
                                            <select class="select width-100-per" disabled>
                                                <option value="1" th:selected="${details.companysLocalPremium} eq 1">적용</option>
                                                <option value="0" th:selected="${details.companysLocalPremium} eq 0">미적용</option>
                                            </select>
                                            <button type="button" class="btn-normal btn-green-lt js-modalShow" data-modal="request">신청서</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-wrap center-wrap">
                                        <div class="date-wrap datepicker">
                                            <label for="date01" th:text="${details.premiumStartDate} eq null ? '시작일' : ${#dates.format(details.premiumStartDate, 'yyyy-MM-dd')}"></label>
                                            <input type="date" id="date01" class="input" data-placeholder="시작일" th:value="${#dates.format(details.premiumStartDate, 'yyyy-MM-dd')}">
                                        </div>
                                        <span class="between">~</span>
                                        <div class="date-wrap datepicker">
                                            <label for="date02" th:text="${details.premiumEndDate} eq null ? '종료일' : ${#dates.format(details.premiumEndDate, 'yyyy-MM-dd')}"></label>
                                            <input type="date" id="date02" class="input" data-placeholder="종료일" th:value="${#dates.format(details.premiumEndDate, 'yyyy-MM-dd')}">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-wrap center-wrap">
                                        <div class="date-wrap datepicker">
                                            <label for="date03" th:text="${details.flagStartDate} eq null ? '시작일' : ${#dates.format(details.flagStartDate, 'yyyy-MM-dd')}"></label>
                                            <input type="date" id="date03" class="input" data-placeholder="시작일" th:value="${#dates.format(details.flagStartDate, 'yyyy-MM-dd')}">
                                        </div>
                                        <span class="between">~</span>
                                        <div class="date-wrap datepicker">
                                            <label for="date04" th:text="${details.flagEndDate} eq null ? '종료일' : ${#dates.format(details.flagEndDate, 'yyyy-MM-dd')}"></label>
                                            <input type="date" id="date04" class="input" data-placeholder="종료일" th:value="${#dates.format(details.flagEndDate, 'yyyy-MM-dd')}">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-wrap center-wrap" th:if="${details.companysPremium} eq 0 and ${details.idx} ne 0">
                                        <button type="button" class="btn-normal btn-green approval-premium">등록</button>
                                    </div>
                                    <div class="two-btn-wrap" th:if="${details.companysPremium} eq 1 and ${details.idx} ne 0">
                                        <button type="button" class="btn-cancel cancel-premium">해지</button>
                                        <button type="button" class="btn-green-sm approval-premium">등록</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-wrap center-wrap" th:if="${details.companysLocalPremium} eq 0 and ${details.companysFlagIdx} ne 0">
                                        <button type="button" class="btn-normal btn-green approval-flag">등록</button>
                                    </div>
                                    <div class="two-btn-wrap" th:if="${details.companysLocalPremium} eq 1 and ${details.companysFlagIdx} ne 0">
                                        <button type="button" class="btn-cancel cancel-flag">해지</button>
                                        <button type="button" class="btn-green-sm approval-flag">등록</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <div class="form__action bottom">
                        <a th:href="@{/admin/manage/company/list(enabled=${details.companysEnabled})}" class="btn-normal">목록가기</a>
                        <button type="button" class="btn-prime btn-update">수정하기</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="modal modal-request" data-modal="request" th:if="${details.companysFlagIdx} ne 0">
        <div class="modal__inner">
            <div class="modal-head">
                <span class="modal__title">마패 신청서 - 정보 수정</span>
                <a class="modal-cross js-modalClose"></a>
            </div>
            <div class="details">
                <div class="details-body">
                    <div class="table">
                        <table>
                            <tbody>
                            <tr>
                                <td class="modal-th">업체명</td>
                                <td class="modal-td" th:text="${details.companysName}"></td>
                            </tr>
                            <tr>
                                <td class="modal-th">대표</td>
                                <td class="modal-td" th:text="${details.companysCeoName}"></td>
                            </tr>
                            <tr>
                                <td class="modal-th">광고 지역</td>
                                <td class="modal-td" >
                                    <!-- <div class="select-wrap">
                                        <input type="hidden" class="m-region-price" value="0">
                                        <select class="select select-sm" id="region03">
                                            <option th:each="list : ${regionList}" th:data-price="${list.regionPrice}" th:value="${list.regionName}" th:selected="${list.regionName} eq ${details.companysFlagRegion1}" th:text="${list.regionName}"></option>
                                        </select>
                                    </div> -->
                                    <div id="localRegion" class="checkbox-wrap">
                                        <div class="dt-check-wrap" th:if="${regionList} ne null" th:each="list : ${regionList}">
                                            <input type="hidden" class="m-region-price-add" th:value="${details.flagPrice}">
                                            <input type="hidden" class="m-region-price" th:value="${list.regionPrice}">
                                            <input type="checkbox" th:id="|m-region${listStat.count}|" name="m-region" th:value="${list.regionName}" th:checked="${#strings.contains(details.companysFlagRegion1, list.regionName)}">
                                            <!-- <input type="checkbox" th:id="|m-region${listStat.count}|" name="m-region" th:value="${list.regionName}"> -->
                                            <label th:for="|m-region${listStat.count}|" th:text="${list.regionName}"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">광고 분야</td>
                                <td class="modal-td">
                                    <div class="checkbox-wrap">

                                        <div class="dt-check-wrap" th:each="list : ${categoryList}">
                                            <input type="hidden" class="m-category-price-add" th:value="${details.flagPrice}">
                                            <input type="hidden" class="m-category-price" th:value="${list.categoryPrice}">
                                            <input type="checkbox" th:id="|m-category${listStat.count}|" name="m-category" th:value="${list.categoryName}" th:checked="${#strings.contains(details.companysFlagCategory, list.categoryName)}">
                                            <label th:for="|m-category${listStat.count}|" th:text="${list.categoryName}"></label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">금액</td>
                                <td class="modal-td">
                                    <div class="price-wrap">
                                        <span id="totalPrice" th:text="${details.flagPrice}"></span>
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">계좌번호</td>
                                <td class="modal-td" th:text="${details.flagPriceBank}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form__action bottom">
                        <a class="btn-normal js-modalClose">닫기</a>
                        <button class="btn-prime update-flag">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-form" data-modal="form" th:if="${details.companysFlagIdx} eq 0">
        <div id="localPremiumModal" class="modal__inner">
            <div class="modal-head">
                <span class="modal__title">마패 신청서 - 신규 등록</span>
                <a class="modal-cross js-modalClose"></a>
            </div>
            <div class="details">
                <div class="details-body">
                    <div class="table">
                        <table>
                            <tbody>
                            <tr>
                                <td class="modal-th">업체명</td>
                                <td class="modal-td f-name" th:text="${details.companysName}"></td>
                            </tr>
                            <tr>
                                <td class="modal-th">대표</td>
                                <td class="modal-td f-ceo" th:text="${details.companysCeoName}"></td>
                            </tr>

                            <tr>
                                <td class="modal-th">광고 지역</td>
                                <td class="modal-td">
                                    <!-- <div class="select-wrap"> -->
                                        <!-- <input type="hidden" class="region-price" value="0"> -->
                                        <!-- <select class="select select-sm" id="region05"> -->
                                            <!-- <option value="" selected disabled>선택</option> -->
                                            <!-- <option th:each="list : ${regionList}" th:data-price="${list.regionPrice}" th:value="${list.regionName}" th:text="${list.regionName}"></option> -->
                                        <!-- </select> -->
                                    <!-- </div> -->
                                    <div id="localRegion" class="checkbox-wrap">
                                        <div class="dt-check-wrap" th:each="list : ${regionList}">
                                            <input type="hidden" class="region-price" th:value="${list.regionPrice}">
                                            <input type="hidden" class="region-price-add" value="0">
                                            <input type="checkbox" th:id="|f-region${listStat.count}|" name="f-region" th:value="${list.regionName}">
                                            <label th:for="|f-region${listStat.count}|" th:text="${list.regionName}"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">광고 분야</td>
                                <td class="modal-td">
                                    <div id="localCategory" class="checkbox-wrap">

                                        <div class="dt-check-wrap" th:each="list : ${categoryList}">
                                            <input type="hidden" class="category-price" th:value="${list.categoryPrice}">
                                            <input type="hidden" class="category-price-add" value="0">
                                            <input type="checkbox" th:id="|f-category${listStat.count}|" name="f-category" th:value="${list.categoryName}">
                                            <label th:for="|f-category${listStat.count}|" th:text="${list.categoryName}"></label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">금액</td>
                                <td class="modal-td">
                                    <div class="price-wrap">
                                        <span id="localPremiumTotalPrice">0</span>
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-th">계좌번호</td>
                                <td id="localPremiumBank" class="modal-td f-bank" th:text="|(${details.companysBankName}) ${details.companysBankNumber}|"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form__action bottom">
                        <a class="btn-normal js-modalClose">닫기</a>
                        <button class="btn-prime request-flag">신청하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</th:block>

<th:block layout:fragment="script">   
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:src="@{/assets/js/admin/library.js}"></script>
    <script>
        const ImageUpProcess = () => {
            const newProfileImage = document.querySelector("#newProfileImage");
            const newProfileImageFileNameElement = document.querySelector("#company-profile-img-file-name");
            const prevProfileImage = document.querySelector("#company-profile-img");
            const companysIdxElement = document.querySelector("#companysIdx");

            let formData = new FormData();
           
            if(newProfileImage.files[0].size > 7000000) {
                alert("이미지 크기는 7MB를 초과할 수 없습니다.")
            }

            formData.append("file", newProfileImage.files[0]);
            formData.append("companysIdx", companysIdxElement.innerHTML);

            fetch("/admin/manage/company/updateProfileImage", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // console.log(data);
                prevProfileImage.removeAttribute("src");
                prevProfileImage.setAttribute("src", data.companysProfileImage);
                newProfileImageFileNameElement.value = data.companysProfileImageName;
            })
            
        }

        const profileImageClick = () => {
            const newProfileImage = document.querySelector("#newProfileImage");
            let profileImageChange = confirm("프로필 이미지를 변경하시겠습니까?");
            if(profileImageChange) {
                // alert("이미지를 변경합니다.");
                newProfileImage.click();
                newProfileImage.addEventListener("change", ImageUpProcess);
            }else {
                // alert("이미지를 변경하지 않습니다.");
            }
        }

        window.addEventListener('load', function () {
            const companysIdx = document.querySelector(".companysIdx").value;
            console.log(`현재 페이지의 companysIdx: ${companysIdx}`);

            highlightMenu('list');
            onlyNum();
            changePrice();            

            const editorWrap = document.querySelectorAll('.e-wrap');
            setTimeout(e => {
                editorWrap[0].style.display = 'block';
                editorWrap[1].style.display = 'block';
            }, 500)

            const editor = createEditor(companysIdx);
            const editor2 = createEditor2(companysIdx);

            const flagIdx = document.querySelector('.companysFlagIdx');
            // 신청서 모달
            if (flagIdx.value != 0) new Modal({modal: '.modal-request', name: 'request'});
            // 마패 신청하기 모달
            else if (flagIdx.value == 0) new Modal({modal: '.modal-form', name: 'form'});


            // 달력, 시간
            const datePickers = document.querySelectorAll('.datepicker');
            for(let datepicker of datePickers) new DatePicker(datepicker);

            // 업체 수정
            const updateBtn = document.querySelector('.btn-update');
            updateBtn.addEventListener('click', e => {
                updateCompany(editor, editor2);
            });

            // 사업자 인증
            const checkCerti = document.querySelector('.certi-check');

            if (checkCerti != null) {
                checkCerti.addEventListener('click', e => {
                    updateCheck(0, 1);
                });
            }

            // 사업자 인증 취소
            const cancelCerti = document.querySelector('.certi-cancel');
            if (cancelCerti != null) {
                cancelCerti.addEventListener('click', e => {
                    updateCheck(0, 0);
                });
            }

            // 자격증 인증
            const checkLicense = document.querySelector('.license-check');
            if (checkLicense != null) {
                checkLicense.addEventListener('click', e => {
                    updateCheck(1, 1);
                });
            }

            // 자격증 인증 취소
            const cancelLicense = document.querySelector('.license-cancel');
            if (cancelLicense != null) {
                cancelLicense.addEventListener('click', e => {
                    updateCheck(1, 0);
                });
            }

            // 제휴협회 신청
            const reqPremium = document.querySelector('.req-premium');
            if (reqPremium != null) reqPremium.addEventListener('click', requestPremium);

            // 제휴협회 등록
            const appPremium = document.querySelector('.approval-premium');
            if (appPremium != null) appPremium.addEventListener('click', approvalPremium);

            // 제휴협회 해지
            const canPremium = document.querySelector('.cancel-premium');
            if (canPremium != null) canPremium.addEventListener('click', cancelPremium);

            // 마패 신청
            const reqFlag = document.querySelector('.request-flag');
            if (reqFlag != null) {
                reqFlag.addEventListener('click', requestFlag);
            }

            // 마패 등록
            const appFlag = document.querySelector('.approval-flag');
            if (appFlag != null) appFlag.addEventListener('click', approvalFlag);

            // 마패 수정
            const updateFlag = document.querySelector('.update-flag');
            if (updateFlag != null) updateFlag.addEventListener('click', modifyFlag);

            // 마패 해지
            const canFlag = document.querySelector('.cancel-flag');
            if (canFlag != null) canFlag.addEventListener('click', cancelFlag);

            // 업체 삭제
            const deleteBtn = document.querySelector('.company-delete');
            deleteBtn.addEventListener("click", () => {
                const companysIdx = document.querySelector("#companysIdx");
                fetch(`/admin/manage/company/delete?companysIdx=${companysIdx.innerHTML}`, {
                    method: "PUT"
                })
                    .then(response => response.json())
                    .then(data => {
                        if(data == 1) {
                            alert("해당 업체 정보가 삭제되었습니다.");
                            window.location.href="/admin/manage/company/list";
                        }
                        else {
                           alert("다시 시도해주세요.");
                        }
                    })
            })

        });
    </script>
</th:block>

</html>
