<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside class="aside" th:fragment="asideFragment">
    <button class="aside__btn"></button>
    <nav class="aside__nav nav">
        <ul class="nav-main">
            <li class="js-dropdown">
                <a href="#none" class="js-dropdown__btn" role="button" data-category="users">회원 관리</a>
                <ul class="nav-sub js-dropdown__cont">
                    <li class=""><a th:href="@{/admin/manage/user/list}" data-category="list">회원 목록</a></li>
                    <li class=""><a th:href="@{/admin/manage/user/temp/list}" data-category="temp">비회원 목록</a></li>
                    <li class=""><a th:href="@{/admin/manage/user/terminate/list}" data-category="terminate">탈퇴 목록</a></li>
                    <li class=""><a th:href="@{/admin/manage/user/register}" data-category="register">회원 등록</a></li>
                </ul>
            </li>

            <li class="js-dropdown">
                <a href="#none" class="js-dropdown__btn" role="button" data-category="company">업체 관리</a>
                <ul class="nav-sub js-dropdown__cont">
                    <li class=""><a th:href="@{/admin/manage/company/list}" data-category="list">업체 목록</a></li>
                    <li class=""><a th:href="@{/admin/manage/company/premium}" data-category="ad">광고 관리</a></li>
                    <li class=""><a th:href="@{/admin/manage/company/chart/list}" data-category="chart">통계 관리</a></li>
                </ul>
            </li>

            <li><a th:href="@{/admin/manage/hospital/list}" data-category="request">의뢰 관리</a></li>

            <li><a th:href="@{/admin/manage/review/list}" data-category="review">리뷰 관리</a></li>

            <li><a th:href="@{/admin/manage/hospital/list}" data-category="chat">채팅 관리</a></li>

            <li><a th:href="@{/admin/manage/hospital/list}" data-category="report">신고 관리</a></li>

            <li class="js-dropdown">
                <a href="#none" class="js-dropdown__btn" role="button" data-category="banner">배너 관리</a>
                <ul class="nav-sub js-dropdown__cont">
                    <li class=""><a th:href="@{/admin/manage/member/list}" data-category="main">메인</a></li>
                    <li class=""><a th:href="@{/admin/manage/member/register}" data-category="detective">탐정찾기</a></li>
                </ul>
            </li>

            <li class="js-dropdown">
                <a href="#none" class="js-dropdown__btn" role="button" data-category="board">게시판 관리</a>
                <ul class="nav-sub js-dropdown__cont">
                    <li class=""><a th:href="@{/admin/manage/notice/list}" data-category="notice">공지사항</a></li>
                    <li class=""><a th:href="@{/admin/manage/event/list}" data-category="event">이벤트</a></li>
                    <li class=""><a th:href="@{/admin/manage/tip/register}" data-category="tip">어사 Tip</a></li>
                </ul>
            </li>

            <li><a th:href="@{/admin/manage/policy}" data-category="policy">정책 관리</a></li>
        </ul>
    </nav>
</aside>
</html>
