<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="configFragment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>어사</title>
        <meta name="description" content="어사">
        <meta name="keywords" content="어사">
        <meta name="author" content="어사">
        <meta property="og:type" content="website">
        <meta property="og:url" content="url">
        <meta property="og:title" content="어사">
        <meta property="og:site_name" content="어사">
        <meta property="og:description" content="어사">
        <meta property="og:locale" content="ko_KR">
        <link rel="stylesheet" th:href="@{/assets/css/admin/main.css}">
        <link rel="stylesheet" th:href="@{/assets/css/admin/banner.css}">
        <link rel="stylesheet" th:href="@{/assets/css/admin/price.css}">
        <link rel="stylesheet" th:href="@{/assets/css/chatting/roomdetail.css}">
        <script defer th:src="@{/assets/js/admin/common.js}"></script>
        <script defer th:src="@{/assets/js/admin/layout.js}"></script>
        <script defer th:src="@{/assets/js/admin/event.js}"></script>
        <script defer th:src="@{/assets/js/admin/modal.js}"></script>       
        <script defer th:src="@{/assets/js/admin/companysHiddencamList.js}"></script>
        <script defer th:src="@{/assets/js/admin/removeListItem02.js}"></script>
        <script defer th:src="@{/assets/js/admin/noticemodal.js}"></script>
        <script defer th:src="@{/assets/js/admin/banner.js}"></script>
        <script defer th:src="@{/assets/js/admin/price.js}"></script>
    </head>
</th:block>
</html>
