<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="headerFragment">
    <h1 class="header__logo">선천성 심장병 홈모니터링</h1>
    <span class="header__user">관리자</span>
    <nav class="header__nav js-dropdown">
        <button class="js-dropdown__btn"></button>
        <ul class="js-dropdown__cont">
            <li><a th:href="@{/admin/manage/info}">마이페이지</a></li>
            <li th:if="${#authentication.name} eq 'admin'"><a th:href="@{/admin/manage/list}">관리자 관리</a></li>
            <li><a th:href="@{/admin/sign/signOut}">로그아웃</a></li>
        </ul>
    </nav>
</header>
</html>
