<nav th:fragment="html-sidebar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" th:href="@{/admin/usersManage/clientList?currentPage=1}">
            <span class="align-text-bottom"></span>
            회원 관리
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/companysManager/companysList?currentPage=1}">
            <span class="align-text-bottom"></span>
            탐정 관리
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/reviewManage/reviewList?currentPage=1}">
            <span class="align-text-bottom"></span>
            리뷰 관리
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <span class="align-text-bottom"></span>
            채팅 관리
            </a>
        </li>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>도와조 관리</span>
        </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                공지사항 게시판 관리
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                이벤트 게시판 관리
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                팁 게시판 관리
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                메인페이지 배너 관리
              </a>
            </li>
          </ul>
    </div>
</nav>